.wrapper{
    width:420px;
    padding: 12px;
    background: rgb(200, 238, 244);
    color: black;
    border-radius: 16px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: black;
    opacity: 50%;

}

.input-box .icon{
    position: absolute;
    background: white;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;

}

.submit-button{

    width: 100%; /* Full width of the form */
    height: 50px; /* Adjust height if needed */
    background-color: #007bff; /* Change background color */
    border: none;
    border-radius: 25px; /* Rounded corners */
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
   

}

