svg {
    background-color: #f0f0f0;
    margin: auto;
    display: block;
}

circle {
    stroke: #333;
    stroke-width: 2px;
}

text {
    font-weight: bold;
    pointer-events: none; /* Prevent mouse events on text */
    text-anchor: middle; /* Center the text horizontally */
}
.network-container {
    position: relative;
  }
  
  /* Style for the node buttons popup */
  .node-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    text-align: center;
    z-index: 10;
  }
  
  .node-popup h3 {
    margin-bottom: 10px;
  }
  
  .node-popup button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .node-popup button:hover {
    background-color: #0056b3;
  }
